.container {
    display: grid;
    grid-template-columns:auto auto;
    height: 400px;
    gap: 20px;
    padding: 50px;
    display: grid;
}
.box{
    font-size:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.box1 {
    background-color:darkturquoise;
    grid-column: 1/3;
}
.box2 {
    background-color:pink;
    grid-column: 1/2;
}
.box3 {
    background-color: blueviolet;
}
.box4 {
    background-color: palevioletred;
    grid-column: 1/3;
}